@import "../variables";

.orders {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .order {
    width: 80%;

    .order_details {
      width: 100%;
      margin: auto auto;
      display: flex;
      justify-content: space-between;
      background-color: $colorOne;

      .order_id {
        padding: 10px;
      }

      .status {
        padding: 10px;
        width: 255px;
        background-color: $processingColor;
      }
      .delivered {
        background-color: $deliveredColor;
      }
    }
    .products {
      width: 80%;
      //margin: auto auto;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      //justify-content: flex-end;

      .product {
        width: 100%;
        // display: flex;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "name quantity product_id";
        padding: 20px 0;
        background-color: $colorTwo;

        .name {
          //   margin-right: auto;
          padding: 0 10px;
          grid-area: name;
        }
        .quantity {
          grid-area: quantity;
          //   margin-right: 20px;
        }
        .product_id {
          grid-area: product_id;
          padding: 0 10px 0 20px;
        }
      }
    }
  }
}
