@import "../variables";

// .card_container {
//   width: 400px;
//   height: 65px;
//   display: flex;
//   align-items: center;
// }
.payment_element {
  width: 400px;
  border: 2px solid $borderColor;
  padding: 10px;
  margin-bottom: 20px;
}

.invalid {
  border: 2px solid $requiredColor;
}

#payment_message {
  padding: 20px;
  max-width: 400px;
  height: fit-content;
  padding-left: 0;
  word-wrap: break-word;
}
