$backgroundColor: #f9f9fa;
$textColor: #324248;
$mainColor: #919ed0;
$borderColor: #696c75;
$colorOne: #d1d3db;
$colorTwo: #ecedf0;
$requiredColor: #d3aa14;
$errorColor: #d25314;
$cancelColor: #d25314;
$deliveredColor: #10b110;
$processingColor: #d3aa14;
